
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Parisienne&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --witheColor: #ffffff;
    --background: #0a3604;
}
html {
    font-family: 'Lobster', sans-serif;
}

body {
    background-color: var(--background);
    color: var(--witheColor);
}
img {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    align-items: center;
    width: 20%;
}

h1 {
    padding-top: 20%;
}
h1, h6 {
    padding: 2%;
    text-align: center;
    font-size: 50%;
}
h6 {
    font-size: 25%;
}
.countdown-container {
    display: flex;
    flex-basis: 25%;
    /* top: 12px; */
    justify-content: center;
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size:10%;
    color: var(--witheColor);
    width: 100%;
}
.countdown-globe {
    text-align: center;
    flex-basis: 20%;
}

